{{ define "main" }}
<link rel="stylesheet" href="{{ "css/home.css" | absURL }}">
<script src="{{ "js/home.js" | absURL }}" defer></script>
<div class="home-grid manchete-box">
    <!-- Seção Gazeta (Manchete) -->
    <section class="manchete">
        {{ range first 1 (where .Site.RegularPages "Section" "gazeta") }}
        <div class="manchete-meta">Gazeta | {{ .Date.Format "02 de Janeiro de 2006" }}</div>
        
        <h1 class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
        
        <div class="summary-wrapper">
            <div class="info">
                {{ if .Params.image }}
                <a href="{{ .RelPermalink }}">
                    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="post-image">
                </a>
                {{ end }}
                {{ .Content }}
            </div>
            <div class="summary-gradient">
                <a href="{{ .RelPermalink }}" class="read-more-btn">Continuar lendo...</a>
            </div>
        </div>
        {{ end }}
    </section>

    <!-- Seção Econopédia (Aleatório) -->
    <aside class="econopedia-box">
        {{ range first 1 (shuffle (where .Site.RegularPages "Section" "econopedia")) }}
        <div class="manchete-meta">Econopédia</div>
        <h2 class="article-title" style="--title-len: {{ len .Title }}; font-family: var(--econopedia-font) !important; font-weight: 400 !important; line-height: 1.1;"><a href="{{ .RelPermalink }}" style="font-family: inherit !important; color: inherit; text-decoration: none;">{{ .Title }}</a></h2>

        <div class="summary-wrapper">
            <div class="info">
                {{ if .Params.image }}
                    <span style="display:none;"></span>
                    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="post-image">
                {{ end }}
                {{ .Content }}
            </div>
            <div class="summary-gradient">
                <a href="{{ .RelPermalink }}" class="read-more-btn">Saiba mais</a>
            </div>
        </div>
        {{ end }}
    </aside>
</div>
{{ end }}