<!-- Stylesheet -->
<link rel="stylesheet" href="{{ "css/base.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/components.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/footer.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/variables.css" | absURL }}">

<style> 
    a {
        text-decoration: none;
    }

    .footer-line {
        height: 2px;
        border: var(--menubar-color);
        background-color: var(--menubar-color);
        margin-top: 9px;
    }

</style>
 
<!-- Newspaper dual line separating from main text -->
<div class="newspaper-bar" style="margin-top: 60px; margin-bottom: 20px;">
    <div class="newspaper-line-top"></div>
</div>

<footer class="footer">
    
    <!-- Social networks -->
    <div class="footer-bar">
        
        <!-- horizontal line -->
        <div><hr text-align="center" class="footer-line" width="100%" style="color: var(--menubar-color)"></div>

        <!-- icons -->
        <div >
        <!-- email -->
        <a href="mailto:t.bouzas@tilburguniversity.edu">
            <img src="{{ "icons/email.svg" | absURL }}" alt="E-mail" >
        </a>
        
        <!-- twitter -->
        <a href="https://twitter.com/TulioBouzas">
            <img src="{{ "icons/x.svg" | absURL }}" alt="X" >
        </a>

        <!-- github -->
        <a href="https://github.com/tuliobouzas/">
            <img src="{{ "icons/github.svg" | absURL }}" alt="GitHub" >
        </a>

        <!-- linkedin -->
        <a href="https://nl.linkedin.com/in/tcsbouzas">
            <img src="{{ "icons/linkedin.svg" | absURL }}" alt="LinkedIn" >
        </a>

        <!-- google scholar -->
        <a href="https://scholar.google.com/citations?user=GziUunwAAAAJ&hl=pt-BR&oi=ao">
            <img src="{{ "icons/scholar.svg" | absURL }}" alt="Google Scholar" >
        </a>
        </div>
        
        <!-- horizontal line -->
        <div><hr text-align="center" class="footer-line" width="100%" style="color: var(--menubar-color)"></div>
    </div>
    
    <!-- Copyright -->
    <div style="text-align: center; color: var(--menubar-color); padding-top: 10px; padding-bottom: 5px;">
        <p>© {{ now.Format "2006" }} O Econoverso</p>
    </div>
</footer>

<!-- Newspaper dual line at the bottom of the footer -->
<div class="newspaper-bar" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="newspaper-line-bottom"></div>
</div>   
